<!DOCTYPE html>
<head>
	<meta charset="utf-8">
	<!-- Latest compiled and minified CSS -->
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
	<link rel="stylesheet" href="Styles/MetricsDisplayApp.css">
</head>
<body>
<div id="pageContainer" class="container-fluid"></div>
<footer>
	<script id="userTemplate" type="text/template">
		<div class="userPanel">
			<div class="userHeader">
				<% if (model.get("avatar")) { %>
					<img class="avatar" src='<%- model.get("avatar") %>' />
				<% } else { %>
					<span class="avatarPlaceholder"><%- model.get("name").charAt(0) %></span>
				<% } %>
				<div class="userInfo">
					<span class="userName"><%- model.get("name") %></span>
					<span class="userOccupation"><%- model.get("occupation") %></span>
				</div>
			</div>
			<div class="userFooter">
				<div class="chartContainer">
				</div>
				<div class="metrics">
					<div class="smallMetrics">
						<div class="metricWrapper">
							<span class="impressions metric"><%- model.get("impressions") %></span>
							<span class="metricText">impressions</span>
						</div>
						<div class="metricWrapper">
							<span class="conversions metric"><%- model.get("conversions") %></span>
							<span class="metricText">conversions</span>
						</div>
					</div>
					<div class="revenue metric"><%- model.get("revenue") %></div>
				</div>
			</div>
		</div>
	</script>
	<script type="text/template" id="chartTemplate">
		<div class="chartWrapper">
			<div class="canvasWrapper"></div>
			<div class="chartText"></div>
		</div>
	</script>
	<script src="requireConfig.js"></script>
	<script data-main="../init.js" src="Libraries/require.js"></script>
</footer>
</body>